<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link href="/css/chess/chess_style.css" rel="stylesheet" type="text/css">
  <link href="/css/chess/chess_player_style.css" rel="stylesheet" type="text/css">
  <link href="/css/chess/game_over.css" rel="stylesheet" type="text/css">
  <script src="/js/utils.js"></script>
</head>

<body>

  <header>
    <%- include('../partials/headerLeft'); %>
    <% if ( locals.player && locals.player.nickname != 'guest' ){%>
      <%- include('../partials/headerRight'); %>
    <%}%>  
  </header>

  <main>
    
    <div class="chess-game-container" id = "chess-game-container">
      <%- include('../partials/chess/game_over'); %>
      
      <%- include('../partials/chess/player_score_2'); %>
    
      <%- include('../partials/chess/chess'); %>

      <%- include('../partials/chess/player_score_1'); %>
    </div>
  </main>

</body>

<%- include('../partials/commonJs'); %>

</html>