<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>

  <link rel="stylesheet" href="/css/index_style.css">
</head>

<body>

  <%- include('../partials/headerLeft'); %>  

  <main>
    <%- include('../partials/title'); %>

    <% if( locals.player) { %>
      <div class = "menu-containers">
        <div class = "row-menu-containers">

          <div class ="column-menu-containers">
            <%- include('../partials/indexContainer/statisticContainer'); %>
          </div>
          
            <div class ="column-menu-containers">
              <%- include('../partials/indexContainer/historicContainer'); %>
              <%- include('../partials/indexContainer/editAIContainer'); %>
            </div>
          </div>
        </div>
        
      </div>
    
    <% }else{ %>
      <h1 class = "main-title"> Welcome, to Chess AI </h1>
    <% } %>

  </main>

  <% if( locals.player && locals.player.nickname != 'guest' ) { %>
    <%- include('../partials/headerRight'); %>
  <% } %>
</body>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/index.js"></script>
<%- include('../partials/commonJs'); %>

</html>