<div class = "player_score_container">
    <img src = "/assets/icone/player/<%= locals.player2.icone %>.png" class = "player_score_image">

    <div class = "player-score-column-container">

        <div class = "player-score-row-container">
            <%if (locals.player2){ %>
                <span class = "player_nickname"><%= locals.player2.nickname %></span>
                <span>(<%= locals.player2.type %> <%= locals.player2.elo %>)</span>
            <% }else{ %>
                <span class = "player_nickname">Guest</span>
                <span>(Player ?)</span>
            <% } %>


            <%if (locals.player2.country != "default"){ %>
                <img src = 'https://countryflagsapi.com/png/<%= locals.player2.country %>' class = "player_score_flag">
            <% }else{ %>
                <img src = '/assets/icone/flag/default.png' class = "player_score_flag">
            <% } %>
        </div>

        <div class = "player-score-row-container">
            <div class = "captured-pieces-container">
                <div class = "captured-piece pawn-5-white"></div>
        
                <div class = "captured-piece bishop-2-white"></div>
        
                <div class = "captured-piece knight-2-white"></div>
        
                <div class = "captured-piece rook-2-white"></div>
        
                <div class = "captured-piece queen-1-white"></div>
            </div>
            <span>+5</span>
        </div>
        
    </div>    
</div>